.top-header {
  position: fixed;
  background-color: rgb(245, 245, 245);
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.menu-horizontal {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1200px;
}

.menu-horizontal li {
  display: block;
  padding: 15px 20px;
  color: black;
}

.menu-horizontal a {
  text-decoration: none;
}

.menu-horizontal li:hover {
  color: red;
}

.menu-vertical {
  padding: 0;
  position: absolute;
  display: none;
  width: 200px;
  background-color: white;
}

.menu-horizontal li:hover .menu-vertical {
  display: block;
}

.menu-horizontal li:hover {
  color: rgb(190, 170, 150);
}

.menu-vertical li {
  display: block;
  color: rgb(62, 15, 150);
  padding: 15px 15px 15px 20px;
}

/Seccion INICIO/ .seccion-inicio {
  padding: 70px 20px;
  background-color: white;
}

.cont-general-inicio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
}

.cont-inicio-text {
  flex: 1;
}
.cont-inicio-text h2 {
  color: Red;
  margin-bottom: 15px;
}

.cont-inicio-text p {
  color: black;
  line-height: 1.5;
}

.cont-inicio-imagen {
  flex: 1;
  text-align: center;
}

.cont-inicio-imagen img {
  width: 350px;
  height: 350px;
  border-radius: 10px;
  padding: 50px 10px;
}

/Seccion contacto/ .seccion-contacto {
  padding: 70px 20px;
  background-color: white;
}

.cont-general-contacto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
}

.cont-contacto-text {
  flex: 1;
}
.cont-contacto-text h2 {
  color: Blue;
  margin-bottom: 15px;
}

.cont-contacto-text p {
  color: black;
  line-height: 1.5;
}

.cont-inicio-video {
  flex: 1;
  text-align: center;
}

.cont-inicio-video iframe {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}
/* Seccion formulario */
.seccion-formulario {
  background-color: rgb(171, 229, 241);
  padding: 40px;
  border: 3px;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.div-cont-formulario {
  background-color: white;
  padding: 30px;
  border: 2px solid #000000;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
}

.campo {
  padding: 25px;
  margin-bottom: 15px;
  border-radius: 8px;
  background-color: aquamarine;
}

.formulario label {
  display: block;
  font-weight: 600;
  margin-bottom: 8px;
  color: blue;
}

input[type="text"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.lista-checkbox,
.lista-radio {
  list-style: none;
  padding: 10px;
  margin: 0;
  border: 1px;
  background-color: cadetblue;
  border-radius: 8px;
}

.lista-checkbox li,
.lista-radio li {
  margin-bottom: 8px;
}

button {
  background-color: red;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
}
